@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Компоненти */
@layer components {
    .btn {
      @apply px-4 py-2 text-white rounded transition;
      background-color:  rgba(93, 31, 151, 0.8); /* Кастомний колір */
    }
  
    .btn:hover {
      background-color:var(--color-accent); /* secondary з прозорістю */
    }
  
    .input {
      @apply w-full px-3 py-2 border border-gray-300 rounded outline-none;
      transition: border-color 0.3s;
    }
  
    .input:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 4px var(--color-primary);
    }
  
    .bg-header {
      background-color: var(--color-header);
    }
  
    .nav-link {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s;
    }
    
    .nav-link:hover {
      color: var(--color-accent);
    }
   
    .mobile-menu-color {
      background-color: rgb(78, 44, 109) !important;
    }
    
}