.main-slider {
    width: 100%;
    height: 50vh; /* На весь екран */
    overflow: hidden;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Зберігає пропорції */
}

.slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .slider-logo {
    max-width: 160px;
    margin-bottom: 20px;
    opacity: 50%;
  }

.responsive-iframe {
  position: absolute;
  transform: translateX(-50%);
  border: 0px;
  object-fit: cover;
  z-index: 1;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: 400%;
  height: 200%;
}


  @media (max-width: 768px) {
.responsive-iframe {
  width: 2700px;
  height: 700px;
  left: 50% !important;
  position: absolute;
  transform: translate(-50%,-50%) !important;
  border: 0 !important;
}}