.main-slider {
    width: 100%;
    height: 50vh; /* На весь екран */
    overflow: hidden;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Зберігає пропорції */
}

.slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

/* .slider-iframe-container iframe {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
} */
  